/* Elements */
html {
  height: 100%;
}

body {
  background-color: #ff8811;
  display: flex;
  flex-direction: column;
  height: 100%;
}
nav {
  background-color: #ffffff;
  text-align: center;
}
footer {
  width: 100%;
  background-color: #9dd9d2;
  text-align: center;
  margin-top: auto;
}

/* Classes */
.inputs {
  height: 500%;
  width: 90%;
  border-style: solid;
  border-color: #392f5a;
  border-radius: 0.6em;
  padding-left: 0.5em;
  padding: 1em;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  color: #392f5a;
  font-family: Arial, Helvetica, sans-serif;
}

.inputs::placeholder {
  color: #000000;
  opacity: 30%;
}

.inputerror {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ba0f30;
  margin-left: 5rem;
  visibility: collapse;
  margin-top: 1em;
}

.inputerrorsub {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ba0f30;
  margin-left: 5rem;
  visibility: collapse;
}

.buttonsection {
  text-align: center;
}

.button {
  background-color: #392f5a;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.4em 4em;
  font-size: 25px;
  border-radius: 0.4em;
  border-style: none;
  font-style: normal;
  margin-bottom: 1em;
}

.sub-table {
  background-color: #ffffff;
  border-radius: 1em;
  border-style: solid;
  border-width: 3px;
  border-color: #392f5a;
  margin: 5em;
  margin-top: 1em;
}

.col {
  text-align: center;
}

.row {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #392f5a;
  padding: 1em;
  font-size: 1.2em;
}

.button:hover {
  background-color: #699bf7;
  transition: background-color 1s ease-out;
}

.footerelements {
  font-family: Arial, Helvetica, sans-serif;
  color: #392f5a;
  margin: 1em;
}

.namesandsocials {
  display: inline;
  margin-right: 2em;
}

.communityelement {
  margin-bottom: 0.3em;
}

.communityimg {
  margin-right: 2em;
  margin-bottom: 0em;
}

.head {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

.marksindicator {
  color: #392f5a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 3rem;
  font-size: 1em;
}

/* Ids */
#revaimage {
  width: 25%;
}

#iaheader {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 6rem;
  margin-top: 3rem;
  margin-left: 3rem;
}

#inputlabel {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #392f5a;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-left: 3rem;
  display: block;
}

#numberinput {
  display: block;
}

#maindiv {
  margin-top: 2em;
}

#iamarksheader {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline;
  margin-left: 2em;
  font-size: 3em;
  color: #ffffff;
}

#gotosemester {
  background-color: #392f5a;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.4em 2em;
  font-size: 25px;
  border-radius: 0.4em;
  border-style: none;
  font-style: normal;
  margin-left: 2em;
}

#gotosemester:hover {
  background-color: #699bf7;
  transition: background-color 1s ease-out;
}

#totalmarks {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 2em;
  font-size: 2.5em;
  color: #ffffff;
}

#gradwarning {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 2em;
}

#totalsemmarks {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 2em;
  font-size: 2.5em;
  color: #ffffff;
}

#totalsgp {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 2em;
  margin-top: 1em;
  font-size: 2.5em;
  color: #ffffff;
}

/* #contact {
  display: flex;
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
} */

.buttonsection {
  text-align: center;
}

#ianbtn {
  margin-right: 10px;
}

#sembtn {
  margin-left: 10px;
}
